body {
	font-size: 14px;
	font-family: 'Roboto Mono', monospace;
  padding-top: 70px;
  padding-bottom: 20px;
	background-color: #c0d8d8;
  color: #231123
}

strong {
  font-weight: bolder;
  background-color: #e8db7d;
}

/* ------------ NAVBAR ------------ */

.navbar {
  background-color: #c0d8d8;
  border-bottom: 0px solid #000;
  /* drop bottom shadow */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.navbar-nav .nav-link{
  font-size: 13px;
  color: #231123;
  font-weight: 300;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #231123;
  text-decoration: underline;
}

.navbar-brand {
  color: #231123;
}
.navbar-brand:hover {
  color: #231123;
  text-decoration: underline;
}

.dropdown-menu {
  font-size: 13px;
  background-color: #c0d8d8;
}
.dropdown-item:hover {
  color: #231123;
  background-color: inherit;
  text-decoration: underline;
}

/* ------------ TABLE ------------ */

.table {
  font-size: 14px;
  background-color: inherit;
}

.table th, .table td {
  background-color: #c0d8d8;
  font-weight: bolder;
}

.table-striped > tbody > tr:nth-of-type(odd) > td {
  background-color: #D9E8E8; 
}

/* ------------ OTHER STYLES ------------ */


.container img{
	max-width:100%;
}

h1, h2, h3 {
    margin-top: 50px;
    margin-bottom: 10px;
}

footer{
	font-size:11px;
  padding-top: 30px;
}
